<!-- Sección de Preguntas Frecuentes -->
<section id="FAQ" class="bg-light-gray" style="background-image: url('/Amoy-Ubeiden/img/backgrounds/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preguntas frecuentes</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">¿Cuál es el código de vestimenta?</h4>  
            <p class="largepad text-muted">Te pedimos amablemente que sea un atuendo formal adecuado para la ocasión y que evites vestir de blanco.</p>

            <h4 class="service-heading">¿Puedo llevar acompañante o pareja?</h4>  
            <p class="largepad text-muted">Lamentablemente, contamos con una lista de invitados estricta para mantenernos dentro del presupuesto y logística. Solo podremos recibir a las personas que estén incluidas en tu invitación.</p>

            <h4 class="service-heading">¿A qué hora debo llegar?</h4>  
            <p class="largepad text-muted">La ceremonia comenzará a las 3:00 p.m. Recomendamos llegar puntual para que tengas tiempo de estacionar y encontrar asiento.</p>
            
            <h4 class="service-heading">¿Habrá transporte?</h4>
            <p class="largepad text-muted">Sí, se dispondrá de servicio de transporte desde **La Paila, Zarzal, Roldanillo** hacia el lugar de la celebración, así como de regreso a las **12:00 a. m. (medianoche)**. 
              Los horarios y puntos de recogida se compartirán con mayor detalle a medida que se acerque la fecha de la boda.</p>
            
            <h4 class="service-heading">¿Regalos?</h4>  
            <p class="largepad text-muted">Tu presencia en nuestra boda es el mejor regalo que podríamos recibir. Sin embargo, si deseas darnos un obsequio, agradeceríamos muchísimo una contribución en efectivo para nuestra luna de miel. Tendremos una caja para sobres e información para transferencia bancaria disponible.</p>

            <h4 class="service-heading">¿Cómo será el clima?</h4>  
            <p class="largepad text-muted">En La Unión, la temperatura suele variar entre los 19°C y los 30°C, y rara vez baja de los 18°C.</p>

        </div>
    </div>
</section>
