<!-- Sección de Preguntas Frecuentes -->
<section id="FAQ" class="bg-light-gray" style="background-image: url('/Amoy-Ubeiden/img/backgrounds/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preguntas Frecuentes</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">¿Cuál es el código de vestimenta?</h4>  
            <p class="largepad text-muted">Usa lo que te haga sentir más cómodo/a, pero te pedimos amablemente que evites vestir de blanco.</p>

            <h4 class="service-heading">¿Puedo llevar acompañante o pareja?</h4>  
            <p class="largepad text-muted">Lamentablemente, contamos con una lista de invitados estricta para mantenernos dentro del presupuesto. Solo podremos recibir a las personas que estén incluidas en tu invitación.</p>

            <h4 class="service-heading">¿A qué hora debo llegar a la ceremonia?</h4>  
            <p class="largepad text-muted">La ceremonia comenzará puntualmente a las 3:00 p.m. Recomendamos llegar entre 20 y 30 minutos antes para que tengas tiempo de parquear y encontrar asiento.</p>

            <h4 class="service-heading">¿Regalos?</h4>  
            <p class="largepad text-muted">Tu presencia en nuestra boda es el mejor regalo que podríamos recibir. Sin embargo, si deseas darnos un obsequio, agradeceríamos muchísimo una contribución en efectivo para nuestra luna de miel. Tendremos una caja para tarjetas e información bancaria disponible durante la boda.</p>

            <h4 class="service-heading">¿Tienen recomendaciones de lugares para comer, visitar o cosas que hacer?</h4>  
            <p class="largepad text-muted">¡Sí! Te invitamos a visitar la sección "Cosas para hacer", donde hemos reunido nuestros lugares favoritos de la zona, como cafeterías, spas y restaurantes que puedes disfrutar antes o después del evento.</p>

            <h4 class="service-heading">¿Cómo será el clima?</h4>  
            <p class="largepad text-muted">En Roldanillo, la temperatura suele variar entre los 19°C y los 30°C, y rara vez baja de los 18°C.</p>

        </div>
    </div>
</section>
