<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">
                    You’ve got our phone number — feel free to send us a WhatsApp message with your travel details, and we’ll reply as soon as possible.  
                    We’re looking forward to hearing from you!💌
                    Email: <a href="mailto:ubeidensamboni@gmail.com">ubeidensamboni@gmail.com</a><br>
                </h3>
            </div>
        </div>
    </div>
</section>
