<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">
                    Email: <a href="mailto:ubeidensamboni@gmail.com">ubeidensamboni@gmail.com</a><br>
                    Preferably, send us a text message to one of our mobile phones (you should know them 😄).
                </h3>
            </div>
        </div>
    </div>
</section>
