<!-- Events Section -->
<section id="events" style="background-image: url('/Amoy-Ubeiden/img/backgrounds/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <style>
    /* Timeline layout */
    .timeline {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .timeline > li {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    .timeline > li.timeline-inverted {
      flex-direction: row-reverse;
    }

    .timeline-image {
      flex: 0 0 auto;
      text-align: center;
      margin: 0 10px;
    }

    .timeline-image img {
      max-width: 150px;
      height: auto;
      border-radius: 50%;
      border: 5px solid white;
    }

    .timeline-panel {
      flex: 1;
      text-align: center;
      padding: 10px 15px;
    }

    .timeline-heading h4 {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }

    .timeline-heading .subheading {
      font-size: 16px;
      color: #ccc;
    }

    /* Responsive */
    @media (max-width: 767px) {
      .timeline > li,
      .timeline > li.timeline-inverted {
        flex-direction: column;
      }

      .timeline-image {
        margin: 0 auto 20px auto;
      }

      .timeline-panel {
        padding: 15px;
      }
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Wedding Day</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/1.png" alt="Ceremony">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Ceremony</h4>
                <h4 class="subheading">3:00 PM</h4>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/2.png" alt="Cocktail">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Cocktail & Photo Booth</h4>
                <h4 class="subheading">3:30 PM</h4>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/3.png" alt="Dinner">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Dinner</h4>
                <h4 class="subheading">5:30 PM</h4>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/4.png" alt="First Dance">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>First Dance</h4>
                <h4 class="subheading">8:00 PM</h4>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/5.png" alt="Special Dance">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Special Dance</h4>
                <h4 class="subheading">8:15 PM</h4>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/6.png" alt="Cake Cutting">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Cake Cutting</h4>
                <h4 class="subheading">8:20 PM</h4>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/7.png" alt="Party Games">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Party Games!</h4>
                <h4 class="subheading">8:50 PM</h4>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/Amoy-Ubeiden/img/events/8.png" alt="Dance">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Drink, Dance, Fun, Repeat!!</h4>
                <h4 class="subheading">9:30 PM</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
