<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">Please wear whatever makes you feel comfortable, but we kindly ask that you avoid wearing a white dress.</p>
            <h4 class="service-heading">Can I bring a date/plus one?</h4>  
            <p class="largepad text-muted">Unfortunately, we have a strict guest list to stay on budget. Our celebration is strictly RSVP only. We will only be able to accommodate those listed on your wedding invitation.</p>
            <h4 class="service-heading">What time should I arrive at the ceremony?</h4>  
            <p class="largepad text-muted">Our ceremony will begin promptly at 3:00 pm. We ask that guests arrive 15-30 minutes prior to the ceremony start time. This will allow you plenty of time to park, grab a drink, and find a seat!</p>
            <h4 class="service-heading">Gifts?</h4>  
            <p class="largepad text-muted">Your presence at our wedding is the greatest gift we could ask for. However, if you wish to give a gift, a cash contribution towards our honeymoon would be deeply appreciated! A card box and "Bank" information will be available at the wedding.</p>
             <h4 class="service-heading">Do you have any recommendations for where to eat, points of interest or things to do?</h4>  
            <p class="largepad text-muted">Yes! We recommend visiting the ‘Things to Do’ section, where we’ve compiled all of our favourite local hot spots and fun things to do in the area, including coffee shops, spas and restaurants to visit before or after the wedding.</p>
            
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">In Roldanillo the temperature generally varies from 19°C to 30°C and rarely drops below 18°C.</p>
            
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">We are happy to offer transportation for our families and friends arriving from different places. Rides will be available from the airport to the venue and back.</p>
        </div>
    </div>
</section>
