<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">In Roldanillo the temperature generally varies from 19°C to 30°C and rarely drops below 18°C.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">Please wear whatever makes you feel comfortable, but we kindly ask that you avoid wearing a white dress.</p>
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">We are happy to offer transportation for our families and friends arriving from different places. Rides will be available from the airport to the venue and back.</p>
        </div>
    </div>
</section>
