<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray" style="background-image: url('/Amoy-Ubeiden/img/backgrounds/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Where To Stay</h2>
        <h3 class="section-subheading text-muted">
          Here are a few hotels and apartments in the area. Choose the one that fits your style and comfort. Let us know if you need help with reservations or more suggestions.
        </h3>
      </div>
    </div>

    <div class="row">
      <!-- Left Column -->
      <div class="col-md-6">
        <ul style="list-style-type:none;">
          <li>
            Hotel Campestre Campos Verdes
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Address: El Rincón Campos Verdes, Roldanillo</span></li>
              <li><span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number: </span></li>
              <li><span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/hotel/co/hostal-campos-verdes.en-gb.html">https://www.booking.com/</a></span></li>
              <li><span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance to town centre: </span></li>
              <li><br></li>
            </ul>
          </li>

          <li>
            Coclí Hotel
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Address: Carrera 7 # 7-49 Elías Guerrero, Centro</span></li>
              <li><span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number: +57 318 772 3201</span></li>
              <li><span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.coclihotel.com/">https://www.coclihotel.com/</a></span></li>
              <li><span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance to town centre: </span></li>
              <li><br></li>
            </ul>
          </li>

          <li>
            Hotel Velero
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Address: 15-56 Carrera 1 Norte, 761550 Roldanillo</span></li>
              <li><span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number: [TBC]</span></li>
              <li><span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/hotel/co/velero-roldanillo.en-gb.html">https://www.booking.com/</a></span></li>
              <li><span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance to town centre: </span></li>
              <li><br></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Right Column -->
      <div class="col-md-6">
        <ul style="list-style-type:none;">
          <li>
            Hotel Oasys Blue
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Address: Cra 6A #14-38, Roldanillo, Colombia</span></li>
              <li><span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number: +57 310 2478537, reservas@hoteloasysblue.com</span></li>
              <li><span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/hotel/co/oasys-blue-roldanillo.en-gb.html">https://www.booking.com/</a></span></li>
              <li><span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance to town centre: 3 km</span></li>
              <li><br></li>
            </ul>
          </li>

          <li>
            Arte y Viento Apartahotel
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Address: Calle 9 #8-86, centro, Roldanillo </span></li>
              <li><span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number: </span></li>
              <li><span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.co.uk/rooms/1394885064400540789?viralityEntryPoint=1&unique_share_id=9868C141-683C-4A49-BA3A-8CE92FEBBDA3&slcid=dce8e60810cb48dbaaa4596a80df04a9&s=76&set_everest_cookie_on_new_domain=1762451179.EAMDRlNDdhYWNiOTA1ZW.-wR6L0JwXfstb18abSIX1M8WR8_P2Rl-xz8QLSlOu1Q&adults=2&check_in=2026-10-22&slug=koHHQYwF&source_impression_id=p3_1762451733_P3e8RkN7NG6_nUx6&guests=1&check_out=2026-10-26">https://www.airbnb.com/</a></span></li>
              <li><span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance to town centre: 0.1 km </span></li>
              <li><br></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
